<main role="main" class="container">
    <div class="col-sm-12 text-center">
        <br><br>
        <h4><b>-- Preview --</b></h4>
        <div style="margin-top: 10px;">
            <h2 class="album-title-big">{{post.title}}</h2>
            <div class="album-content line-breaks" [innerHTML]="post.content"></div>
        </div>
        <br>
    </div>
    
        <div class="row">
            <div class="col-md-12 text-center">

                <br>
                <h4>Title :</h4>
                <input type="text" name="title" [(ngModel)]="title" />
                <h4>Content :</h4>
                <ckeditor [(ngModel)]="content" name="content" [editor]="Editor" [config]="editorConfig"></ckeditor>
                <br />
                <button class="btn btn-primary btn-lg"
                    (click)="PostUpdate(this.id,title,content,this.userId)">Save</button>
               
            </div>
        </div>
        <br> <br>
    

</main>