<form [formGroup]="registerForm" (ngSubmit)="register()" class="form-register">
    <h2 class="mt-5 text-center">Register</h2> <br>
    <div class="form-group">
        <input type="text" id="userName" name="userName" formControlName="userName" class="form-control"
            placeholder="User Name" autofocus>
        <span class="help-block"
            *ngIf="registerForm.get('userName').hasError('required') && registerForm.get('userName').touched">
            Username is required
        </span>
    </div>
    <div class="form-group">
        <input type="password" id="password" name="password" formControlName="password" class="form-control"
            placeholder="Password">
        <span class="help-block"
            *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
            Password is required
        </span>
        <span class="help-block"
            *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
            Password must be at least 5 characters
        </span>
        <span class="help-block"
            *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
            Password cannot exceed 15 characters
        </span>

    </div>
    <div class="form-group">
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
            class="form-control" placeholder="Password">
        <span class="help-block"
            *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
            Confirm password is required
        </span>
        <span class="help-block" *ngIf="registerForm.get('confirmPassword').touched 
              && registerForm.hasError('mismatch')">
            Confirm password must match password
        </span>

    </div>
    <div class="wrapper">
        <button class="btn btn-lg btn-secondary btn-block" [disabled]="!registerForm.valid"
            type="submit">Register</button>
    </div>
</form>